#zoneslider {
  /*border: 1px #bbb solid;
  height: 350px;
  width: 900px;*/
  /*top:30%;*/
  margin:auto;
}
body { text-align: center; }
#controls { margin-bottom: 1em; display:none; }
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #ccc;
  background-image: none;
}
